.postContainer {
  display: initial;
}
.mainHeading {
  font-size: 25px;
  display: block;
  margin: 30px;
}
@media screen and (min-width: 600px) {
  .postContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .mainHeading {
    font-size: 28px;
    display: block;
    margin: 0;
  }
}
